{% extends "base.html" %}
{% load static %}
{% block content %}
     {% include "header.html" %}

    <!-- Main -->

    <div class="section section--main">
        <div class="container p-2">
            <div class="form-row align-self-center">
                <div class="col-4">
                    <span class="title title--main">{{ testplan.name }}</span>
                </div>
                <div class="col-6 d-flex flex-row ">
                    <div class="col-auto"><a href="{% url 'plan:edit' testplan.pk %}">
                        <button type="button" class="btn btn-outline-info btn-block btn-lg">РЕДАКТИРОВАТЬ</button>
                    </a>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-info btn-block btn-lg">ЗАПУСТИТЬ ТЕСТ ПЛАН</button>
                    </div>
                     <div class="col-auto"><a href="{% url 'plan:list'  %}">
                        <button type="button" class="btn btn-outline-info btn-block btn-lg">ВЕРНУТЬСЯ В СПИСОК</button>
                    </a>
                     </div>
                </div>
            </div>
            <div class="form-row align-self-center">
                {{ testplan.description }}
            </div>
            <div class="form-row align-self-center">
                <div class="col-6">
                    <span class="title title--main">Лог {{ testplan.name }}</span>
                </div>
            </div>
            <div class="form-row align-self-center border-line--min-of">

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Дата последнего запуска</th>
                        <th scope="col" colspan="2">Запустил</th>
                        <th scope="col">Статус запуска</th>
                        <th scope="col" class="whith--limit-200">Комментарий</th>
                    </tr>
                    {{ plancase.plan }}
                    </thead>
                    <tbody>
                    {% for plancase in plancase_list %}
                        <tr>
                            <td scope="row">{{ plancase.test_case.change }}</td>
                            <td scope="row">{{ plancase.test_case.user }}</td>
                            <td><img class="prof-img--small" src="{% static "/img/u152.png" %}"></td>
                            <td scope="row">{{ plancase.test_case.status }}</td>
                            <td>{{ plancase.test_case.description }} </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                    <td colspan="5">
                        <div class="container row justify-content-center">
                            <button type="button" class="btn btn-danger">load more</button>
                        </div>
                    </td>

                </table>

            </div>
            <div class="form-row align-self-center">
                <div class="col-6">
                    <span class="title title--main">Детали {{ testplan.name }}</span>
                </div>
            </div>
            <div class="form-row align-self-center border-line--min-of">

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название тест кейса</th>
                        <th scope="col">Дата последнего запуска</th>
                        <th scope="col" colspan="3">Запустил</th>
                        <th scope="col">Статус запуска</th>
                        <th scope="col" class="whith--limit-200">Комментарий</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plancase in plancase_list %}
                        <tr>
                            <td scope="row">{{ plancase.test_case.id }}</td>
                            <td scope="row">{{ plancase.test_case.name }}</td>
                            <td scope="row">{{ plancase.test_case.change }}</td>
                            <td scope="row" colspan="2">{{ plancase.test_case.user }}</td>
                            <td><img class="prof-img--small" src="{% static "/img/u152.png" %}"></td>
                            <td scope="row">{{ plancase.test_case.status }}</td>
                            <td>{{ plancase.test_case.description }} </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <td colspan="8">
                        <div class="container row justify-content-center">
                            <button type="button" class="btn btn-danger">load more</button>
                        </div>
                    </td>

                </table>
            </div>
        </div>
    </div>

    <!--end Main -->

{% endblock %}